/* Global */
* {
  font-family:Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/* Navigation */
.logo {
  width: 60px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
  margin: 0;
}

.nav__links {
  display: flex;
  list-style-type: none;
}

.nav__link + .nav__link {
  margin-left: 20px;
}

/* Main Content */
.main-content {
  width: 90%;
  margin: 0 auto;
  margin-top: 45px;
}

.item-list {
  list-style-type: disc;
}

/* Footer */
footer {
  width: 100%;
  background: #61dbfb;
  color: white;
  padding: 15px;
  position: absolute;
  bottom: 0;
  font-weight: bold;
  text-align: center;
}