/* Global */
* {
  font-family:Arial, Helvetica, sans-serif
}

.page-content {
  max-width: 1000px;
  margin: 0 auto;
}

/* Navigation */
.logo {
  width: 40px;
  height: 40px;
}

nav {
  display: flex;
  justify-content: space-between;
}

.nav__links {
  display: flex;
  list-style-type: none;
}

.nav__link + .nav__link {
  margin-left: 20px;
}

/* Main Content */
.item-list {
  list-style-type: disc;
}